<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active" data-thumb="0">
                  <%= image_tag(@image.attachment.url(:large), alt: "The item image will be shown here") %>
                </div>
              <!--   <div class="item" data-thumb="1">
                <%= image_tag("img/products/signle-product/product-slide-big-02.jpg") %>
              </div>
              <div class="item" data-thumb="2">
                <%= image_tag("img/products/signle-product/product-slide-big-03.jpg") %>
              </div>
              <div class="item" data-thumb="3">
                <%= image_tag("img/products/signle-product/product-slide-big-04.jpg") %>
              </div> -->
              </div>
            </div>

          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li><a href="product_grid_left_sidebar.html"><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a></li>
         <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
            </ul>
            <h2><%= @products.name %></h2>
            <h3><%= @products.price.to_i %><%= @products.prices.last.currency %></h3>
            <p><%= @products.description %></p>
            <span class="quick-drop">
              <select name="guiest_id3" id="guiest_id3" class="select-drop">
                <option value="0">S</option>
                <option value="1">M</option>
                <option value="2">L</option>
                <option value="3">XL</option>
              </select>
            </span>
            <span class="quick-drop resizeWidth">
              <select name="guiest_id4" id="guiest_id4" class="select-drop">
              <!--   <option value="0">Qty</option> -->
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </span>
            <div class="btn-area">
              <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>